
.ResponsiveToolBar{
    width: 250px;
      height: 50px;
      background: #3F3F3F;
      position: fixed;
      top: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      transition: left 0.5s ease-in-out;
  }
  .ResponsiveToolBar svg {
    color: white;
    font-size: 33px;
    padding: 5px;
    border-radius: 5px;
  }
  .ResponsiveToolBar svg:hover{
  background: #323232;
  }
  .ResponsiveToolBar svg:active{
  transform: scale(0.9);
  }
  .ResponsiveToolBar .active{
  background: #1E88E5 !important;
  }
  